

@if (carOpen) {
                <aside class="carPanel">

                    <div class="car-header">

                        <h1>Tu carrito</h1>
                        <button (click)="closeCar.emit()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x preview-icon"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                        </button>

                    </div>
                    <p>Tu carrito esta vacio</p>
                    <div class="total">
                        <span>Total</span>
                        <strong>$1600</strong>
                    </div>
                    <button class="btnPedir">
                        Pedir por WhatsApp
                    </button>
                    
                    
                </aside>
            }