.navbar {
    height: 60px;
    background: red;
    display: flex;
    position: fixed;
    top: 10px;
    left: 5px;
    right: 5px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.navbar-logo {
    box-sizing: border-box;
    width: 150px;
    height: 100%;
    background: blue;
    margin-left: 1%;

}

.navbar-list {
    box-sizing: border-box;
    background: rgba(91, 4, 163);
    width: auto;
    height: 100%;
    margin-right: 1%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;

}

.menu-des {
    position: relative;
}


.ul-list {
    position: static;
    top: calc(100% + 15px);
    right: 0;
    margin: 0;
    padding: 3rem 1rem 1rem;
    width: 200px;
    height: auto;
    background: rgb(182, 164, 164);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}



.close-menu {
    position: absolute;
    top: calc(100% + 25px);
    right: 10px;
    display: block;
    z-index: 1;
}

.divCar {
    position: relative;
}

.card-nav {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    display:none;
}

.card-nav.open {
    display: block;
}



@media (min-width: 768px) {


    .navbar-logo {
        order: 1;
    }

    .card-nav {
        position: static;
        order: 2;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .card-nav,
    .card-nav.open {
        display: flex;
    }

    .navbar-list {
        order: 3;
        margin-left: auto;

    }

    .menu-des {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .ul-list {
        position: static;
        width: auto;
        padding: 0;
        flex-direction: row;

    }

    .ul-list > li {

        position: relative;

    }

    .ul-list > li > ul {
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 1rem;
        background: rgb(182, 164, 164);

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    }
}