<nav>
    <div>
        

    </div>
    <ul>
        <li><a href="">Inicio</a></li>
        <li><a href=""></a>Hogar</li>
        <li>
            <a href="dropdown">
                Categorias
                <span>^</span>
            </a>
            <ul>
                <li><a href="">Dama</a></li>
                <li><a href="">Caballero</a></li>
                <li><a href=""></a>Niño</li>
                <li><a href=""></a>Niña</li>
                <li><a href=""></a>Bebe</li>
            </ul>
        </li>
      
        <li><a href=""></a>Natura</li>
        <li><a href=""></a>Price Shoes</li>
        <li><a href=""></a>Vianney</li>
        <li><a href=""></a>Ofertas</li>
    </ul>
</nav>


